<%- include('./partials/head') %>

<header class="header-huisdieren">
  <nav class="navbar-items">
    <a href="#" class="nav-content">Logo</a>
    <a href="#" class="nav-content">Huisdieren</a>
    <a href="#" class="nav-content">Studenten</a>
  </nav>
</header>

<%- include('./partials/foot') %>


<main>

<section class="card-container">
  <!-- Hier komen de members -->
  <% squad.members.forEach(member => { %>
    <div class="member-card">
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/placeholder.jpg" alt="Placeholder avatar" />
      <% } %>
      <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
    </div>
  <% }) %>
</section>

</main>